@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

:root {
  font-size: 10px;
  --grey-dark: #4e5150;
  --grey-light: #e5e5e5;
  --grey-light1: #a9a9a9;
  --sans-serif: "Montserrat", Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--sans-serif);
}

.container {
  max-width: 950;
  width: 90%;
  margin: auto;
}
